<footer class="bg-black">
	<div class="row">
		<div class="col-sm-4 mb-3 mb-sm-0">
			<div class="card h-100 bg-opacity-75 mt-2 rounded-1 bg-dark text-light">
				<div class="card-body">
					<h5 class="card-title">Adresse</h5>
					<p class="card-text">
						<ul class="schedule-list">
							<li>✔️ 1 rue de la paix</li>
							<li>✔️ 75000 Paris</li>
							<li>✔️ 01 23 45 67 89</li>
							<li>✔️  garage-parrot@site.com</li>
							<img src="{{ asset('assets/pictures/reapairCar.jpeg') }}" class="rounded-1 mt-5">
						</ul>
					</p>

				</div>
			</div>
		</div>
		<div class="col-sm-4 mb-3 mb-sm-0">
			<div class="card h-100 mt-2 rounded-1 bg-dark text-light">
				<div class="card-body">
					<h5 class="card-title">Horaires d'ouverture</h5>
					<p class="card-text">
						<div class="col-md-3 col-sm-12" style="width: 100%">
							<iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1rue
																											                         %20de%20la%20paix%20,75000%20paris+(Garage%20V.Parrot)&amp;t=&amp;z=14&amp;ie=UTF8&amp;
																											                         iwloc=B&amp;output=embed">
								<a href="https://www.maps.ie/distance-area-calculator.html"></a>
							</iframe>
						</div>
					</p>

				</div>
			</div>
		</div>
		<div class="col-sm-4 mb-3 mb-sm-0">
			<div class="card h-100 mt-2 rounded-1 bg-dark text-light">
				<div class="card-body">
					<h5 class="card-title">Horaires d'ouverture</h5>
					<p class="card-text">
						<ul class="schedule-list">
							<li>✔️Lundi 10h-19h</li>
							<li>✔️Mardi 10h-19h</li>
							<li>✔️ Mercredi 10h-19h</li>
							<li>✔️ Jeudi10h-19h</li>
							<li>✔️ Vendredi 10h-19h</li>
							<li>❌ Samedi closed</li>
							<li>❌ Dimanche closed</li>
						</ul>
					</p>

				</div>
			</div>
		</div>
	</div>
	<!--<div class="container-fluid align-items-center ">
					        <div class="row">
					           <div class="col-4 col-md-6 col-sm-12">
					
					                   <h3>Horaires d'ouverture</h3>
					                   <ul class="schedule-list">
					                       <li>✔️Lundi 10h-19h</li>
					                       <li>✔️Mardi 10h-19h</li>
					                       <li>✔️ Mercredi 10h-19h</li>
					                       <li>✔️ Jeudi10h-19h</li>
					                       <li>✔️ Vendredi 10h-19h</li>
					                       <li>❌ Samedi closed</li>
					                       <li>❌ Dimanche closed</li>
					                   </ul>
					
					
					           </div>
					
					            <div class="row">
					                <div class="col-4 col-md-6 col-sm-12">
					
					                    <h3>Adresse</h3>
					                    <ul class="schedule-list">
					                        <li>✔️ 1 rue de la paix</li>
					                        <li>✔️ 75000 Paris</li>
					                        <li>✔️ 01 23 45 67 89</li>
					                        <li>✔️  garage-parrot@site.com</li>
					                    </ul>
					
					                </div>-->

</footer>
