
<footer>
    <div class="container-fluid align-items-center">
        <div class="row">
           <div class="col-md-12">

                   <h3>TimeSheet</h3>
                   <ul class="schedule-list">
                       <li>✔️ Mon 10-19</li>
                       <li>✔️ Tue 10-19</li>
                       <li>✔️ Wen 10-19</li>
                       <li>✔️ Thu 10-19</li>
                       <li>✔️ Fri 10-19</li>
                       <li>❌ Sat closed</li>
                       <li>❌ Sun closed</li>
                   </ul>


           </div>
        </div>
</footer>
