
<footer class="bg-black">
    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card h-100 bg-opacity-75 mt-2 rounded-1 bg-dark text-light">
                <div class="card-body">
                    <h5 class="card-title">Adresse</h5>
                    <p class="card-text"> <ul class="schedule-list">
                        <li>✔️ 1 rue de la paix</li>
                        <li>✔️ 75000 Paris</li>
                        <li>✔️ 01 23 45 67 89</li>
                        <li>✔️  garage-parrot@site.com</li>
                        <img src="{{ asset('assets/pictures/reapairCar.jpeg') }}" class="rounded-1 mt-5">
                    </ul></p>

                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card h-100 mt-2 rounded-1 bg-dark text-light">
                <div class="card-body">
                    <h5 class="card-title">Horaires d'ouverture</h5>
                    <p class="card-text w-auto h-auto"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.4564597937047!2d2.
                    3276856768262766!3d48.86857429998939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e31bb649637%3A0xc
                    231c2c26c37df78!2s1%20Rue%20de%20la%20Paix%2C%2075002%20Paris!5e0!3m2!1sfr!2sfr!4v1689013662706!5m2!1sfr!2sfr"
                                                  style="border:0;" allowfullscreen="" loading="lazy"
                                                 referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </p>

                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card h-100 mt-2 rounded-1 bg-dark text-light">
                <div class="card-body">
                    <h5 class="card-title">Horaires d'ouverture</h5>
                    <p class="card-text"><ul class="schedule-list">
                        <li>✔️Lundi 10h-19h</li>
                        <li>✔️Mardi 10h-19h</li>
                        <li>✔️ Mercredi 10h-19h</li>
                        <li>✔️ Jeudi10h-19h</li>
                        <li>✔️ Vendredi 10h-19h</li>
                        <li>❌ Samedi closed</li>
                        <li>❌ Dimanche closed</li>
                    </ul></p>

                </div>
            </div>
        </div>
    </div>
    <!--<div class="container-fluid align-items-center ">
        <div class="row">
           <div class="col-4 col-md-6 col-sm-12">

                   <h3>Horaires d'ouverture</h3>
                   <ul class="schedule-list">
                       <li>✔️Lundi 10h-19h</li>
                       <li>✔️Mardi 10h-19h</li>
                       <li>✔️ Mercredi 10h-19h</li>
                       <li>✔️ Jeudi10h-19h</li>
                       <li>✔️ Vendredi 10h-19h</li>
                       <li>❌ Samedi closed</li>
                       <li>❌ Dimanche closed</li>
                   </ul>


           </div>

            <div class="row">
                <div class="col-4 col-md-6 col-sm-12">

                    <h3>Adresse</h3>
                    <ul class="schedule-list">
                        <li>✔️ 1 rue de la paix</li>
                        <li>✔️ 75000 Paris</li>
                        <li>✔️ 01 23 45 67 89</li>
                        <li>✔️  garage-parrot@site.com</li>
                    </ul>

                </div>-->

</footer>
