<footer>
    <div class="container-fluid align-items-center">
        <div class="row">
           <div class="col-md-12">
               <h1 >Horaire d'ouverture</h1>
                <p>du lundi au vendredi de 8h à 12h et de 14h à 18h</p>
                <p>le samedi de 8h à 12h</p>
                <p>fermé le dimanche</p>

           </div>
        </div>
</footer>