{% extends 'base.html.twig' %}

{% block title %}Forfait Réparation
{% endblock %}

{% block body %}
	<h1>Forfait Réparation Mécanique</h1>
	<p>Le forfait réparation mécanique comprend :</p>
	<ul>
		<li>La main d'oeuvre</li>
		<li>Les pièces</li>
		<li>La garantie de 6 mois</li>
	</ul>
	<p>Le forfait ne comprend pas :</p>
	<ul>
		<li>Les pièces d'usure</li>
		<li>Les pièces d'origine</li>
	</ul>
	<p>Le forfait réparation mécanique est valable pour les véhicules de moins de 10 ans et moins de 200 000 km.</p>


{% endblock %}
