{% extends 'base.html.twig' %}

{% block title %}estimer votre voiture
{% endblock %}

{% block body %}
	<h1>estimer votre voiture</h1>
	{{form_start(form)}}
	{{form_row(form )}}
	{{form_end(form)}}
{% endblock %}
